{% extends 'base.html' %}

{% block site %}



<section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Add your city to see weather    
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST" action="/">
                    {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" type="text"  name="city" placeholder="City Name">
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Add 
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                {% for City in var  %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="https://www.weatherbit.io/static/img/icons/{{City.icon}}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{City.cityname}}</span>
                                        <br>
                                        <span class="subtitle">{{City.temp}}</span>
                                        <br> {{City.desc}}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
    </footer>

{% endblock site %}